.choicer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 900;
  width: 100%;
  max-width: 500px;
  background: $color-basic-dark;
  height: auto;
  display: none;
  padding:15px;
  border-radius: 5px;


  &--visable {
    display: block;
  }
  &-list {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__close {
    position:absolute;
    top:-30px;
    right:0;
    font-size:1.9rem;
    background-color: $color-basic-dark;
    border-radius:  5px 0 5px 0;
    padding: 3px 7px;
    cursor:pointer;

   i{
    opacity:0.8;
    &:hover {
      opacity:1;
    }
   }
  }
  &__image {
    width: 31%;
    min-height: 100px;
    margin-right:10px;
    margin-top: 10px;
    background-size: cover;
    opacity:0.8;
    cursor:pointer;
    &:hover {
      opacity:1;
    }
    &:nth-child(3n) {
      margin-right:0;
    }

    @include mobile() {
      min-height: 50px;
    }


 
  }
}
