.creator {
  color: $color-text;
  margin-bottom: 30px;
  &-inner {
    background-color: $color-basic-middle;
    padding: 10px / politics/submit;
    border-radius: $border-radius;
  }

  &-title {
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: bold;
  }

  &-form {
    background-color: $color-basic-middle;
    // padding: 15px;
    border-radius: $border-radius;
    &__textarea {
      min-height: 180px;;
      &--title {
        min-height: 30px;;
      }
    }
    &__photo {
      border: 1px dashed $color-border;
      width: 100%;
      min-height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding:10px;
      margin-bottom: 10px;
      &-footer {
        display: flex;
        justify-content: flex-end;
        padding:0 0 10px 0;
        width:100%;
        i {
          font-size: 1.9rem;
          cursor: pointer;
          color:$color-link;
          &:hover {
            color:$color-link-hover;
          }
        }
      }
    }
    &__youtube {
      display: flex;
      justify-content: center;
      align-items: center;
      padding:10px;
      margin-bottom: 10px;
    }
    &__link {
      &-section {
        width:30%;
      }
      &-photo {
        width:100%;
        height:200px;
      
      }
    }
  }

  &-switcher {
    &__menu {
      display: flex;
      margin-bottom: 15px;
      &-tab {
        width: 25%;
        padding: 10px;
        display: flex;
        justify-content: center;
        font-size: 1.4rem;
        opacity: 0.6;
        border-bottom: 1px solid $color-border;
        border-right: 1px solid $color-border;
        cursor: pointer;

        &:last-child {
          border-right: 0;
        }
        &--active {
          opacity: 1;
          background: $color-basic-middle-hover;
        }
        &:hover {
          opacity: 1;
          background: $color-basic-middle-hover;
        }
      }
      &-icon {
        font-size: 1.4rem;
        margin-top: 3px;
        margin-right: 4px;
      }
    }
    &__content {
      display: none;

      &--active {
        display: block;
      }
      &-wrap {
        padding: 10px;
      }
    }
  }
}
