.post {
  width: 100%;
  background: $color-basic-middle;
  margin-bottom: 30px;

  &-header{
    padding:10px;
  }

  &-content {
    &__link {
      &-photo {
        width: 100%;
        min-height: 200px;
        // &--hide {
        //   visibility: hidden;
        // }
        // &--show {
        //   visibility: visible;
        // }
      }
    }
  }

  &__loader {
    width: 100%;
    min-height: 400px;
    @include mobile() {
      min-height: 250px;
    }
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__title {
    font-size: 1.4rem;
    line-height: 1.8rem;
    padding: 8px 8px 0 8px;
  }
  &__description {
    font-size: 1.2rem;
    line-height: 1.9rem;
    padding: 8px;
  }

  &-action {
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    padding:10px;
    &__section {
      display: flex;
      &-item {
        display: flex;
        margin-right: 6px;
        &:last-child{
          margin-right: 0;
        }
        i{
          padding:4px;
           font-size: 1.2rem;
        }
      }
    }
    &__vote {
      display: flex;
    }
  }
}
