.comment {
  padding: 10px;
  background-color: $color-basic-middle;
  &-creator {
    display: flex;

    &__avatar {
      width: 40px;
      height: 40px;
      border-radius: 5px;
      margin-right:10px;
    }
    &__content {
      margin-bottom:5px !important;
      &-wrap {
        width: calc(100% - 40px);
      }
    }
    &__action {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
  }
}
