.post {
  width: 100%;
  background: $color-background;
  margin-bottom: 30px;

  &-header {
    padding: 8px 0;
    width: 97%;
    margin: 0 auto 3px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__user {
      display: flex;
      align-items: center;
      &-avatar {
        width: 12px;
        height: 12px;
        border-radius: 5px;
        margin-right: 5px;
      }
      &-username {
        font-size: 1.1rem;
        // font-weight: bold;
      }
    }
  }
  &__title {
    font-size: 2rem;
    line-height: 2.4rem;
    margin-bottom: 10px;
    font-weight: 700;
  }
  &__description {
    font-size: 1.3rem;
    line-height: 1.8rem;
    padding: 8px;
  }

  &-content {
    width: 97%;
    margin: 0 auto;

    h2 {
      font-size: 1.6rem;
      line-height: 2rem;
      font-weight: bold;
    }
    p {
      font-size: 1.6rem;
      line-height: 2rem;
    }

    &__embed {
      margin: 0 auto;
      width: 100%;
      max-width: 500px;
      text-align: center;
      color: white !important;
      margin-bottom: 15px;
      &--background {
        // background-color: $color-background-dark;
      }
    }
    &__image {
      text-align: center;
      width: 100%;
      max-width: 800px;
    }
    &__link {
      position: relative;
      &-sitename {
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 4px 6px;
        font-size: 0.9rem;
        border-top-left-radius: 2px;
        font-size: 1.1rem;
        background: $color-background;
        font-weight: bold;
      }
      &-photo {
        width: 100%;
        min-height: 200px;
      }
    }
  }

  &__loader {
    width: 100%;
    min-height: 400px;
    @include mobile() {
      min-height: 250px;
    }
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    padding: 5px;
    // outline: 1px solid red;
    &__section {
      display: flex;
      &-item {
        display: flex;
        margin-right: 6px;
        &:last-child {
          margin-right: 0;
        }
        i {
          padding: 4px;
          font-size: 1.2rem;
        }
      }
    }
    &__comment {
      display: flex;
      align-items: center;
      // font-size: 1.2rem;
      // i {
      //   font-size: 1.3rem;
      // }
    }
    &__share {
      position: absolute;
      z-index: 99;
      right: -10px;
      bottom: 0;
      width: 180px;

      border: 1px solid $color-background-dark;
      transform: translateY(50%) translateX(100%);
      border-radius: 4px;
      &-wrap {
        position: relative;
      }
      &-item {
        padding: 2px 4px;
        background: $color-background;
      }
      &-init {
        font-size: 1.4rem;
        position: relative;

        i {
          font-size: 1.6rem;
        }
      }
      &-fb {
        max-width: 120px;
      }
    }
    &__vote {
      display: flex;

      &-item {
        padding: 2px;
        &--voted {
          .post-action__vote-icon--up {
            color: $color-success;
          }
          .post-action__vote-icon--down {
            color: $color-error;
          }
        }
      }
    }
  }
}
