
$width-tablet: 550px;
$width-mobile: 480px;
$width-desktop: 1040px;
$width-max: 700px;
$width-max-small: 500px;

$color-success: #009542;
$color-error: #d9002b;

$color-primary:#ffae00; 
$color-basic-dark:#030303;
$color-basic-middle:#1a1a1b;
$color-basic-middle-hover: #242425;
$color-basic-light:#272729;

$color-whitesmoke: whitesmoke;

$color-border:#2a2e30;
$color-text:#c1c4c5;
$color-text-hover:#818384;

$color-link:#c1c4c5;
$color-link-hover:#818384;

$color-placeholder: #bababa;

$border-radius: 3px;


@mixin desktop() {
    @media (max-width: #{$width-tablet}) and  (min-width: #{$width-desktop}) {
        @content;
    }
}

@mixin tablet() {
    @media screen and (max-width: #{$width-desktop}) and  (min-width: #{$width-mobile}) {
        @content;
    }
}


@mixin mobile() {
    @media screen and (max-width: #{$width-mobile}) {
        @content;
    }
}


@mixin placeholder() {
    ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $color-placeholder;
      opacity: 1; /* Firefox */
    }
  
    :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: $color-placeholder;
    }
  
    ::-ms-input-placeholder {
      /* Microsoft Edge */
      color: $color-placeholder;
    }
  }