<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" te href="/stylesheets/style.css">
		<link rel="stylesheet" te href="/stylesheets/ckeditor.css">
		<link rel="stylesheet" te href="/stylesheets/form.css">
	</head>
	<body>
		<header class="header">
			<ul class="header__menu">
				<li>
					<a class="header__menu-item" href="/admin/post/1">
						Posty
					</a>
				</li>
				<li>
					<a class="header__menu-item">
						Użytkownicy
					</a>
				</li>
				<li>
					<a class="header__menu-item">
						Komentarze
					</a>
				</li>
			</ul>
		</header>
		{% block body %}{% endblock %}
		{% block javascripts %}
			<script>
				window.twttr = (function (d, s, id) {
var js,
fjs = d.getElementsByTagName(s)[0],
t = window.twttr || {};
if (d.getElementById(id)) 
return t;



js = d.createElement(s);
js.id = id;
js.src = "https://platform.twitter.com/widgets.js";
fjs.parentNode.insertBefore(js, fjs);

t._e = [];
t.ready = function (f) {
t._e.push(f);
};

return t;
}(document, "script", "twitter-wjs"));
			</script>
		{% endblock %}


	</body>
</html>
