.header {
  width: 100%;
  background: $color-basic-middle;
  margin-bottom: 20px;
  border-radius: $border-radius;
  padding: 8px 0;
  position: fixed;
  z-index: 999;

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-menu {
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background: $color-basic-middle;
    display: none;
    padding: 20px;
    &--visible {
      display: block;
    }
    &__close {
      position: absolute;
      right: 20px;
      top: 20px;
      i {
        font-size: 1.5rem;
      }
    }
    &__logo {
      text-align: center;
      img {
        max-width: 30px;
      }
    }
    &__user {
      padding: 10px 20px;
      font-size: 1.5rem;
      color: white;
    }

    &__init {
      font-size: 1.8rem;
      cursor: pointer;
    }
    &__list {
      margin-top: 20px;
    }

    &__item {
      padding: 15px;
      width: calc(100% + 40px);
      position: relative;
      left: -20px;
      border-bottom: 1px solid $color-basic-light;
      border-top: 1px solid $color-basic-light;
      cursor: pointer;
      font-size: 1.4rem;
      i {
        font-size: 1.4rem;
        margin-right: 10px;
      }
      &-dropicon {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        transition: all 0.3s;
      }
    }
  }
  &-logo {
    position: relative;
    img {
      max-width: 30px;
      // margin: 0;
      // position: absolute;
      // top: 50%;
      // -ms-transform: translateY(-50%);
      // transform: translateY(-50%);
    }
  }
}
