.auth {
  background: $color-basic-middle;
  border-radius: $border-radius;
  padding: 20px;
  &-footer {
    margin-top:10px;
  }
  &-title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10px;
  }
}
